################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SanpoClub.WebAPI/obj
/SanpoClub.WebAPI/bin/Debug/netcoreapp3.1
