<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Clubs</h4>
                  </div>
                  <div class="card-body table">
                    <mat-list>
                      <div *ngFor="let club of clubs" class="tr">
                        <mat-list-item>Name: {{ club.name }} </mat-list-item>
                      </div>
                    </mat-list>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
